.header__logo {
  width: 142px;
  height: 33px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    background-size: contain;
    margin-left: 9%;
  }
}