.profile__avatar-edit-btn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/edit-avatar.svg);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  width: 120px;
  z-index: 1;
}

.profile__avatar-edit-btn:hover {
  opacity: 1;
  cursor: pointer;
  background: none;
  background-image: url(../../../images/edit-avatar.svg);
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (max-width: 767px) {
  .profile__avatar-edit-btn {
    margin: 0 auto 26px;
  }
}