.profile {
  max-width: 880px;
  margin: 0 auto 50px;
  display: flex;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 990px) {
  .profile {
    max-width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}