.cards__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 18px 17px;
}

@media screen and (max-width: 1023px) {
  .cards__list {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .cards__list {
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 361px);
    row-gap: 20px;
  }
}