.header__burger {
    display: none;
}

@media (max-width: 767px) {
    .header__burger {
        display: block;
        flex-direction: column;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-right: 30px;
        position: relative;
        cursor: pointer;
        z-index: 4;
    }
}